<div class="add-container">

    <button type="button" class="close" aria-label="Close" ui-sref="settings">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>Adding a `{{config.name}}`</h2>

    <table class="table">
        <tr ng-repeat="row in config.fields">

            <th>{{row.name}}</th>

            <!-- if editable -->
            <td ng-if="row.editable">
                <!-- if `input` -->
                <input id="{{config.name}}-{{row.name}}" ng-if="row.type == 'input'" type="text" value="">
                <!-- if `textarea` -->
                <textarea id="{{config.name}}-{{row.name}}" ng-if="row.type == 'textarea'"></textarea>
                <!-- if custom: colorPicker -->
                <color-picker ng-if="row.type == 'customColorPicker'" ng-model="colorObj.color" options="options"></color-picker>
            </td>

            <!-- if not editable -->
            <td ng-if="!row.editable">
                <!-- if `input` -->
                <input id="{{config.name}}-{{row.name}}" ng-if="row.type == 'input'" type="text" value="{{getNewId()}}" disabled>
                <!-- if `textarea` -->
                <textarea id="{{config.name}}-{{row.name}}" ng-if="row.type == 'textarea'"></textarea>
            </td>

        </tr>
    </table>

    <button type="button" class="btn btn-primary" ng-click="add()">Add {{config.name}}</button>

</div>