<div class="edit-container">
    <h3>Update</h3>

    <button type="button" class="close" aria-label="Close" ui-sref="settings">
        <span aria-hidden="true">&times;</span>
    </button>

    <table class="table">
        <tr ng-repeat="row in config.fields">

            <th>{{row.name}}</th>

            <!-- if editable -->
            <td ng-if="row.editable">
                <!-- if `input` -->
                <input id="{{config.name}}-{{row.name}}" ng-if="row.type == 'input'" type="text" value="{{item[row.name]}}">
                <!-- if `textarea` -->
                <textarea id="{{config.name}}-{{row.name}}" ng-if="row.type == 'textarea'">{{item[row.name]}}</textarea>
                <!-- if custom: colorPicker -->
                <color-picker ng-if="row.type == 'customColorPicker'" ng-model="colorObj.color" options="options"></color-picker>
            </td>

            <!-- if not editable -->
            <td ng-if="!row.editable">
                <input id="{{config.name}}-{{row.name}}" ng-if="row.type == 'input'" type="text" value="{{item[row.name]}}" disabled>
            </td>

        </tr>
    </table>

    <button type="button" class="btn btn-primary" ng-click="update()">Update</button>
</div>
