<div class="people">

    <div
            ng-show="viewOptions.graphical"
            class="person"
            ng-repeat="person in people | filter: {name: peopleSearchTerm}"
            ui-sref="about.people({personName: person.name.toLowerCase().replace(' ', '-')})"
            ui-sref-active="active">

        <div class="photo" style="background-image:url({{person.img}})">
            <div class="name">{{person.name}}</div>
        </div>
    </div>

    <div ng-show="viewOptions.list" class="non-graphical-list">

        <table>
            <thead>
                <tr>
                    <th>
                        <column-sorter title="name" config="peopleListConfig"></column-sorter>
                    </th>
                    <th>
                        <column-sorter title="title" config="peopleListConfig"></column-sorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in people | filter:peopleSearchTerm | orderBy:peopleListConfig.sortType:peopleListConfig.sortReverse"
                    ui-sref="about.people({personName: person.name.toLowerCase().replace(' ', '-')})"
                    ui-sref-active="active">
                    <td class="name">{{person.name}}</td>
                    <td class="title">{{person.title}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>