<div class="products-carousel-wrapper">

    <div class="products-carousel owl-carousel owl-theme">

        <div
                class="product"
                ng-repeat="product in data"
                style="border-color: {{product.bgColor}}">

            <h3>{{product.name}}</h3>
            <div class="description">{{product.description}}</div>

            <div class="product-modules-wrapper">

                <modules product="product"></modules>

            </div>
        </div>

    </div>

</div>