<div class="about-wrapper">

    <div class="view-options">
        view options
    </div>

    <div class="photos-wrapper">
        <div class="photo-wrapper" ng-repeat="person in people">
            <div class="photo" style="background-image:url(/images/people/{{person.name.toLowerCase().replace(' ', '-')}}.jpg)">
            <div class="name">{{person.name}}</div>
            </div>
        </div>

    </div>

</div>

<!--<div class="people">-->

    <!--<h2>People</h2>-->

    <!--<div class="person-wrapper" ng-repeat="person in people">-->
        <!--<h3>{{person.name}}</h3>-->
        <!--<p><i>{{person.title}}</i></p>-->

        <!--<div class="bio">-->
            <!--{{person.bio}}-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->