<div class="about-wrapper">

    <div class="photos-wrapper">

        <h2>Who We Are</h2>

        <p>We recognize the value in fresh perspectives as well as seasoned experience and our staff reflects this. We are a team of entrepreneurs, operators and artists. We maintain a local perspective globally - working from Los Angeles, New York, London, San Francisco, Tampa, Toronto and Bengaluru. Our business development team is committed to ensuring our clients and partners feel empowered with InvestCloud.</p>

        <div class="view-options">

            <div class="row">

                <div class="col-sm-6 icons-wrapper">
                    <i class="fa fa-th-large fa-2x" aria-hidden="true" ng-click="setViewOptions({graphical:true, list:false})"></i>
                    <i class="fa fa-list fa-2x" aria-hidden="true" ng-click="setViewOptions({graphical:false, list:true})"></i>
                </div>

                <div class="col-sm-6 search-box-wrapper">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" ng-model="peopleSearchTerm">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <people></people>
            </div>
            <div class="col-sm-6">
                <div ui-view="peopleUiView" class="my-animation"></div>
            </div>
        </div>

    </div>

</div>