<div class="edit-product" style="border-color: {{product.bgColor}}">
    <h3>Editing "{{product.name}}"</h3>

    <button type="button" class="close" aria-label="Close" ui-sref="settings">
        <span aria-hidden="true">&times;</span>
    </button>

    <table class="table">
        <tr>
            <th>Id: </th>
            <td>{{product.id}}</td>
        </tr>
        <tr>
            <th>Name: </th>
            <td><input id="productName" type="text" value="{{product.name}}"></td>
        </tr>
        <tr>
            <th>Target: </th>
            <td><input id="productAudience" type="text" value="{{product.audience}}"></td>
        </tr>
        <tr>
            <th>Color: </th>
            <td><color-picker ng-model="color" options="options"></color-picker></td>
        </tr>
        <tr>
            <th>Description: </th>
            <td><textarea id="productDescription">{{product.description}}</textarea></td>
        </tr>
        <tr>
            <th>Modules: </th>
            <td><input id="productModules" type="text" value="{{product.modules.toString().replace('[','').replace(']','')}}"></td>
        </tr>
    </table>

    <input type="button" class="btn-normal" value="Update product" ng-click="updateProduct()">
</div>

