<div class="home-page">
    <h2>Explore Our Cloud-Based Financial Apps</h2>

    <products-carousel data="products"></products-carousel>

    <h2>Our Team</h2>

    <people-carousel data="people"></people-carousel>

    <h2>Test Chart</h2>

    <p>Here are two 3rd-party directives working together: <a href="http://jtblin.github.io/angular-chart.js/" target="_blank">angular-chart.js</a> and
        <a href="https://github.com/angular-slider/angularjs-slider" target="_blank">angularjs-slider</a></p>

    <!--
        pie chart
        http://jtblin.github.io/angular-chart.js/
    -->
    <canvas id="pie" class="chart chart-pie"
            chart-data="data" chart-labels="labels" chart-options="options">
    </canvas>

    <!--
        Sliders
        https://github.com/angular-slider/angularjs-slider
    -->

    <!-- slider 1 -->
    <rzslider
            rz-slider-model="slider.a.value"
            rz-slider-options="slider.a.options"></rzslider>

    <!-- slider 2 -->
    <rzslider
            rz-slider-model="slider.b.value"
            rz-slider-options="slider.b.options"></rzslider>

    <!-- slider 3 -->
    <rzslider
            rz-slider-model="slider.c.value"
            rz-slider-options="slider.c.options"></rzslider>
</div>