<div class="product-detail">

    <div class="row">
        <div class="col-sm-8">
            <h3 style="color:{{product.bgColor}}">{{product.name}}</h3>
            <div class="description">
                {{product.description}}
            </div>

            <h4>Modules:</h4>
            <modules product="product"></modules>
            <div ui-view="moduleUiView" class="my-animation"></div>
        </div>

        <div class="col-sm-4">
            <img ng-src="{{product.img1}}" class="img-responsive product-img1" alt="{{product.name}}">
        </div>

    </div>

</div>
