<div class="settings">

    <h2>Settings</h2>

    <ul class="nav nav-tabs">
        <li ng-class="{active:tab===1}">
            <a ng-click="tab=1" href="javascript:void(0);">Products <span class="badge badge-primary">{{products.length}}</span></a>
        </li>
        <li ng-class="{active:tab===2}">
            <a ng-click="tab=2" href="javascript:void(0);">People <span class="badge badge-secondary">{{people.length}}</span></a>
        </li>
        <li ng-class="{active:tab===3}">
            <a ng-click="tab=3" href="javascript:void(0);">Videos <span class="badge badge-secondary">{{videos.length}}</span></a>
        </li>
        <li ng-class="{active:tab===4}">
            <a ng-click="tab=4" href="javascript:void(0);">Modules <span class="badge badge-secondary">{{modules.length}}</span></a>
        </li>
    </ul>

    <div ng-show="tab===1" class="settings-products">
        <div class="heading-wrapper">
            <div class="col-sm-4 title-wrapper">
                <div class="title">
                    <h3>Products</h3>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="instructions">
                    <p>Here's a listing of our products, you may <i class="fa fa-plus-square-o fa-2x add" aria-hidden="true" ui-sref="settings.add_product"></i> or edit existing ones.</p>
                </div>
            </div>
        </div>

        <table class="table listing-table">
            <thead>
            <tr>
                <th class="tcol-id">
                    <column-sorter title="id" config="productsListConfig"></column-sorter>
                </th>
                <th class="tcol-name">
                    <column-sorter title="name" config="productsListConfig"></column-sorter>
                </th>
                <th class="tcol-color">Color</th>
                <th class="tcol-modules">Modules</th>
                <th class="actions">Action(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products | orderBy:productsListConfig.sortType:productsListConfig.sortReverse" ui-sref-active="active">
                <td class="tcol-id">{{product.id}}</td>
                <td class="tcol-name">{{product.name}}</td>
                <td class="tcol-color">{{product.bgColor}}</td>
                <td class="tcol-modules">{{product.modules}}</td>
                <td class="actions">
                    <i class="fa fa-pencil-square-o fa-2x edit" aria-hidden="true" ui-sref="settings.product({productId: product.id})"></i>
                    <i class="fa fa-trash-o fa-2x remove" aria-hidden="true"  ng-click="delete(product.id, products)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="tab===2" class="settings-people">
        <div class="heading-wrapper">
            <div class="col-sm-4 title-wrapper">
                <div class="title">
                    <h3>People</h3>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="instructions">
                    <p>Here's a listing of our people, you may <i class="fa fa-plus-square-o fa-2x add" aria-hidden="true" ui-sref="settings.add_person"></i> or edit existing ones.</p>
                </div>
            </div>
        </div>

        <table class="table listing-table">
            <thead>
            <tr>
                <th class="tcol-id">
                    <column-sorter title="id" config="peopleListConfig"></column-sorter>
                </th>
                <th class="tcol-name">
                    <column-sorter title="name" config="peopleListConfig"></column-sorter>
                </th>
                <th class="tcol-title">Title</th>
                <th class="actions">Action(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in people | orderBy:peopleListConfig.sortType:peopleListConfig.sortReverse" ui-sref-active="active">
                <td class="tcol-id">{{person.id}}</td>
                <td class="tcol-name">{{person.name}}</td>
                <td class="tcol-title">{{person.title}}</td>
                <td class="actions">
                    <i class="fa fa-pencil-square-o fa-2x edit" aria-hidden="true" ui-sref="settings.person({personId: person.id})"></i>
                    <i class="fa fa-trash-o fa-2x remove" aria-hidden="true"  ng-click="delete(person.id, people)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="tab===3" class="settings-videos">
        <div class="heading-wrapper">
            <div class="col-sm-4 title-wrapper">
                <div class="title">
                    <h3>Videos</h3>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="instructions">
                    <p>Here's a listing of our videos, you may <i class="fa fa-plus-square-o fa-2x add" aria-hidden="true" ui-sref="settings.add_video"></i> or edit existing ones.</p>
                </div>
            </div>
        </div>

        <table class="table listing-table">
            <thead>
            <tr>
                <th>
                    <column-sorter title="id" config="videosListConfig"></column-sorter>
                </th>
                <th>Video Url</th>
                <th class="actions">Action(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="video in videos | orderBy:videosListConfig.sortType:videosListConfig.sortReverse" ui-sref-active="active">
                <td>{{video.id}}</td>
                <td>{{video.url}}</td>
                <td class="actions">
                    <i class="fa fa-pencil-square-o fa-2x edit" aria-hidden="true" ui-sref="settings.videos({videoId: video.id})"></i>
                    <i class="fa fa-trash-o fa-2x remove" aria-hidden="true"  ng-click="delete(video.id, videos)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="tab===4" class="settings-modules">
        <div class="heading-wrapper">
            <div class="col-sm-4 title-wrapper">
                <div class="title">
                    <h3>Modules</h3>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="instructions">
                    <p>Here's a listing of our modules, you may <i class="fa fa-plus-square-o fa-2x add" aria-hidden="true" ui-sref="settings.add_module"></i> or edit existing ones.</p>
                </div>
            </div>
        </div>

        <table class="table listing-table">
            <thead>
            <tr>
                <th class="tcol-id">
                    <column-sorter title="id" config="modulesListConfig"></column-sorter>
                </th>
                <th class="tcol-name">
                    <column-sorter title="title_short" config="modulesListConfig"></column-sorter>
                </th>
                <th class="actions">Action(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="module in modules | orderBy:modulesListConfig.sortType:modulesListConfig.sortReverse"  ui-sref-active="active">
                <td class="tcol-title">{{module.id}}</td>
                <td class="tcol-name">{{module.title_short}}</td>
                <td class="actions">
                    <i class="fa fa-pencil-square-o fa-2x edit" aria-hidden="true" ui-sref="settings.modules({moduleId: module.id})"></i>
                    <i class="fa fa-trash-o fa-2x remove" aria-hidden="true"  ng-click="delete(module.id, modules)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ui-view="settingsUiView" class="settings-edit-screen"></div>

</div>