.freelance-portfolio-wrapper {

  .project {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 250px;
    padding: 15px;
    margin: 15px 15px;
    border:1px solid #ccc;
    &:hover {
      cursor: pointer;
    }

    /*
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
    */
    transition: all 0.2s;

    @keyframes imageHover {
      from {background-size:100%}
      to {background-size: 105%}
    }

    .bgImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

  }//project

}