<div class="freelance-portfolio-wrapper">

    <div class="tabs">
        <ul>
            <li>
                <a href="javascript:void(0)"
                   ng-class="{'active':projectType=='employer'}"
                   ng-click="projectType='employer'">
                    @companies
                </a>
            </li>
            <li>
                <a href="javascript:void(0)"
                   ng-class="{'active':projectType=='freelance'}"
                   ng-click="projectType='freelance'">
                    @freelance
                </a>
            </li>
            <li>
                <a href="javascript:void(0)"
                   ng-class="{'active':projectType=='old'}"
                   ng-click="projectType='old'">
                    @old
                </a>
            </li>
        </ul>
    </div>

    <div class="projects-wrapper">

        <div class="description">
            <p>These are some of my freelance projects. What I love is that you get to experiment with whatever technologies you like, as long as you deliver on time of course!</p>
        </div>

        <hd-portfolio-block ng-repeat="project in portfolio[projectType] | filter:{type: projectType} track by project.id" project="project"></hd-portfolio-block>

    </div>

    <div ui-view="portfolioDetail" class="my-animation"></div>

</div>
