<!--<ul>-->
    <!--<li ng-repeat="module in modules"><a href="#">{{module.title_short}}</a></li>-->
<!--</ul>-->

<div class="row modules-cubical-horizontal">
    <div
            class="module"
            style="background-color:{{activeColor}}"
            ng-repeat="module in modules"
            ui-sref="products.product.module({moduleName:module.name})"
            ui-sref-active="active">

        <div class="opaque-bg"></div>
        <div class="color">{{module.title_short}}</div>
    </div>

</div>