@keyframes hd-bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    //opacity: 0;
    transform: translate3d(-400px, 0, 0);
  }

  to {
    //transform: none;
    transform: translate3d(400px, 0, 0);
  }
}

.hd-bounceInLeft {
  animation-name: hd-bounceInLeft;
}

// *********************************************************************************

@keyframes hd-bounceOutLeft {
  0% {
    //opacity: 1;
    transform: translate3d(400px, 0, 0);
  }

  to {
    //opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

.hd-bounceOutLeft {
  animation-name: hd-bounceOutLeft;
}