$hd-menu-width: 350px;

.hd-navbar-container {

  //display: none;
  position: fixed;
  top: 0;
  left: (-$hd-menu-width);
  height: 100vh;
  width: $hd-menu-width;
  padding: 15px;
  z-index: 999;

  &.active {
    display: block;
    left: 0;
  }

  .inner-wrapper {
    position: relative;
    width: 100%;
    height: inherit;
  }

  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: -85px;
  }

  // ----------------------------------------------------------------------------

  .menu-toggler {
    position: absolute;
    top: -2px;
    right: -55px;
    width: 25px;
    height: 10px;
    background-color: #cc7832; /* orange from phpstorm ide*/
    &:hover {
      cursor: pointer;
    }
  }//menu-toggler

  // ---------------------------

  .code-theme-container {

    font-family: 'courier new', courier, arial, sans-serif;
    border:1px solid #333;
    font-size: 0.9em;

    // drop shadow from
    // https://www.cssmatic.com/box-shadow
    -webkit-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);

    .header {
      background-color: #ccc;
      color: #666;
      padding: 8px 8px 8px 12px;
    }

    .body {
      background-color: black;
      color: white;
      padding: 8px 8px 25px 12px;

      .menu {
        .title {
          margin: 8px;
        }
        .link {
          position: relative;
          margin-left: 30px;
          padding: 2px;

          a {
            color: #6060ff; /* gitbash purple */
            &:hover {
              color: #00bf00; /* gitbash green */
              text-decoration: none;
            }
          }//a

          &.active {
            a {
              color: #00bf00; /* gitbash green */
            }
            &:before{
              content: '#';
              position: absolute;
              left: -10px;
              top: 3px;
              color: yellow;
            }
          }
        }//link
      }
    }
  }//code-theme-container

}

/*
  -------------------------------------
  animations
  -------------------------------------
*/

@keyframes hd-bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    //opacity: 0;
    transform: translate3d( (-$hd-menu-width), 0, 0);
  }

  to {
    //transform: none;
    transform: translate3d($hd-menu-width, 0, 0);
  }
}

.hd-bounceInLeft {
  animation-name: hd-bounceInLeft;
}

// *********************************************************************************

@keyframes hd-bounceOutLeft {
  0% {
    //opacity: 1;
    transform: translate3d($hd-menu-width, 0, 0);
  }

  to {
    //opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

.hd-bounceOutLeft {
  animation-name: hd-bounceOutLeft;
}