<div class="portfolio-detail-wrapper">
    <div class="inner-wrapper">

        <h1 class="title">{{project.companyName}}</h1>
        <h4>{{project.date}}</h4>

        <div class="description" ng-bind-html="project.description">
            {{trustHtml(project.description)}}
        </div>

        <div class="close-button">
            <i class="fa fa-times fa-2x" aria-hidden="true" ui-sref="portfolio" ng-click="expandPortfolioWidth()"></i>
        </div>

        <div class="tech-stack">
            <ul>
                <li ng-repeat="technology in project.technologies">{{technology}}</li>
            </ul>
        </div>

        <div class="images-wrapper">
            <div class="preview-img" ng-repeat="img in project.images" style="background-image: url(images/portfolio/preview/{{img}})">
            </div>
        </div>

    </div>
</div>