.resume-wrapper {

  font-size: 0.8em!important;
  width: 60vw;
  max-width: 900px;
  margin: 0 auto;

  .section-head {

  }

  .section {
    border-top: 1px solid black;

    .col1, .col2 {
      padding: 25px;
    }

    .job-description {
      margin: 25px 0;
    }

  }

  .col1 {
    border-right: 1px solid black;
  }


}