<div class="resume-wrapper" ng-cloak>

    <!--
    <div class="section-head">
       <h1>Harma Davtian</h1>
        <h4>
            {{resume.personalInfo.title}}
            | <a href="mailto:{{resume.personalInfo.email1}}">{{resume.personalInfo.email1}}</a>
            | {{resume.personalInfo.phone1}}
            | <a href="{{resume.personalInfo.github}}" target="_blank">Github</a>
            | <a href="{{resume.personalInfo.linkedin}}" target="_blank">Linkedin</a>
            | <a href="{{resume.personalInfo.youtube}}" target="_blank">Youtube</a>

        </h4>
    </div>
    -->

    <!--
    <div class="row section">

        <div class="col-sm-3 col1">
            Github
        </div>

        <div class="col-sm-8 col2">

            <h2>Technical Skills Summary</h2>

            <table class="type1">
                <tbody>
                    <tr ng-repeat="technicalSkill in resume.technicalSkills">
                        <th>{{technicalSkill.category}}</th>
                        <td>{{technicalSkill.description}}</td>
                    </tr>
                </tbody>
            </table>

            <h2>Experience Summary</h2>

            <table class="type1">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Title</th>
                        <th>Dates</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="company in resume.experience">
                        <td>{{company.name}}</td>
                        <td>{{company.title}}</td>
                        <td>{{company.dates}}</td>
                    </tr>
                </tbody>
            </table>

            <h2>Education</h2>

            <ul>
                <li ng-repeat="school in resume.education">
                    {{school.name}} - {{school.dates}} - {{school.notes}}
                </li>
            </ul>

            <h2>Strengths</h2>

            <ul>
                <li ng-repeat="strength in resume.strengths">{{strength}}</li>
            </ul>

            <h2>Hobbies & Interestes</h2>

            <ul>
                <li ng-repeat="interest in resume.interests">{{interest}}</li>
            </ul>

        </div>

    </div>
    -->

    <div class="section-head">
        <h1>Experience</h1>
    </div>

    <div class="row section" ng-repeat="company in resume.experience">

        <div class="col-sm-3 col1">
            <h4>{{company.name}}</h4>
            <span>{{company.domain}}</span><br>
            <span>{{company.location}}</span><br><br>
            <span>{{company.dates}}</span>
        </div>

        <div class="col-sm-8 col2">
            <h2>{{company.title}}</h2>

            <div class="job-description">
                {{company.jobDescription}}
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>{{company.section1Title}}</h3>
                    <ul>
                        <li ng-repeat="detail in company.section1Details">{{detail}}</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3>{{company.section2Title}}</h3>
                    <ul>
                        <li ng-repeat="detail in company.section2Details">{{detail}}</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>
