.about-wrapper {

  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 25px 0 25px;

  .view-options {
    border:1px solid #ccc;
  }

  .photos-wrapper {
    margin-top: 25px;
  }

  .photo-wrapper {

    display: inline-block;
    position: relative;
    width: 155px;
    height: 182px;
    margin: 0 15px 15px 0;
    border: 1px solid #ccc;

    .photo {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .name {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
      padding: 3px;
      background-color: rgba(233,118,37,0.8);
      color: white;
      @include font-roboto;
    }

  }//photo-wrapper

}//about-wrapper