/* The starting CSS styles for the enter animation */
.my-animation.ng-enter {
  transition:0.25s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.my-animation.ng-enter.ng-enter-active {
  opacity:1;
}

// settings edit screen

.settings-edit-screen {
  position: fixed;
  top: 95px;
  right: 0;

  @include respond-to('mobile'){
    position: absolute;
    top:130px;
  }

}

.settings-edit-screen.ng-enter {
  transition:0.25s linear all;
  opacity:0;
  right: -5vw;
}

.settings-edit-screen.ng-enter.ng-enter-active {
  opacity:1;
  right: 0;
}