.edit-container {
  border:15px solid #666;
  background-color: white;
  padding: 15px;
  height: 500px;
  overflow-y: scroll;

  @include respond-to('mobile'){
    width: 90vw;
  }
  @include respond-to('tablet+'){
    width: 50vw;
  }

  .close {
    position: absolute;
    top: 25px;
    right: 55px;
    width: 35px;
    height: 35px;
    background-color: white;
    opacity: 1;
  }
}