.app-header {

  position: fixed;
  display: table;
  width: 100%;
  height: 75px;
  background-color: map-get($app, header-bg-color);
  z-index: 999;

  .app-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
    @include appname-font-family(2em);
    color: white;
  }

}//app-header
