.app-leftnav {

  position: fixed;
  top: 75px;
  left: 0;
  @include leftnav-font-family;
  z-index: 999;

  @include respond-to('mobile') {
    width: 100%;
  }

  @include respond-to('tablet+') {
    width: 20%;
    height: 100vh;
    background-color: map-get($app, leftnav-bg-color);
  }

}

.app-menu {

  @include respond-to('mobile'){
    display: none;
  }

  width: 100%;
  list-style-type: none;
  padding-left: 0;

  li {

    display: table;
    width: 100%;
    vertical-align: middle;
    height: 35px;

    a {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      color: white;
      text-decoration: none;
      padding-left: 25px;
      border-left: 5px solid map-get($app, menu-left-border-color);
      cursor: pointer;

      &:hover, &.active {
        border-left: 5px solid map-get($app, menu-left-border-hover-color);
        background-color: map-get($app, menu-bg-hover-color);
      }
    }

  }//li

}

.app-menu-mobile {

  // overriding bootstrap
  margin-bottom: 0;

  @include respond-to('tablet+') {
    display: none;
  }

}