.app-main-content {

  position: relative;

  @include respond-to('mobile') {
    width: 100%;
    left: 0;
    top: 100px;
  }

  @include respond-to('tablet+') {
    width: 79%;
    top: 75px;
    left: 20%;
  }

}//app-main-content

.main-content-wrapper {
  min-height: 500px;
  padding-bottom: 75px;
}

.main-inner-wrapper {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 25px 0 25px;
}