.people {

  max-height: 315px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width:8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  .person {

    display: inline-block;
    position: relative;
    width: 93px;
    height: 109px;
    border: 1px solid #ccc;
    margin: 0 5px 15px 0;
    cursor: pointer;

    &.active {
      border:1px solid map-get($colors, blue);
      :after {
        position: absolute;
        font-family: FontAwesome;
        content: "\f077";
        bottom: -17px;
        text-align: center;
        width: 100%;
      }
    }

    .photo {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .name {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
      padding: 3px;
      background-color: rgba(44,138,170,0.8);
      color: white;
      font-size:11px;
      @include font-roboto;
    }

  }//person

  .non-graphical-list {

    font-size: 12px;

    table {

      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      width: 90%;

      td {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 4px;
        vertical-align: top;
        text-align: left;
        cursor: pointer;
      }

      .name {
        width: 125px;
      }

      th {
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 4px;
        vertical-align: top;
        text-align: center;
      }

      tbody {
        tr {
          &:hover, &.active {
            background-color: #eaeaea;
          }
        }
      }

    }

  }//non-graphical-list

}
