.products-carousel-wrapper {

  .products-carousel {

  }

  .product {
    // width set by owl carousel
    height: 200px;
    border :5px solid;
    margin-right: 15px;
    padding: 0 15px 15px 15px;
    cursor: pointer;
  }

}