.products-carousel-wrapper {

  .products-carousel {
    .module {
      width: 35px;
      height: 35px;
      margin-bottom: 5px;
    }
  }

  .product {
    // width set by owl carousel
    height: 250px;
    border: 5px solid;
    margin-right: 15px;
    padding: 0 15px 15px 15px;
    //cursor: pointer;

    @include respond-to('mobile'){
      max-height: 200px;
    }

    @include respond-to('tablet'){
      height: 275px;
    }
  }

  .product-modules-wrapper {

    @include respond-to('mobile'){
      display: none;
    }

    position: absolute;
    text-align: right;
    bottom: 0;
    right: 15px;
    left: 15px;

    .modules {
      margin-bottom: 15px;
    }
  }

  .product-module {
    display: inline-block;
    text-align: left;
    width: 35px;
    height: 35px;
    border:1px solid #ccc;
    margin: 0 15px 15px 0;
    font-size: 12px;
  }

}