.modules-cubical-horizontal {

  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 25px 0 25px;

  .module {
    display: inline-block;
    position: relative;
    background-color: blue;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 25px;
    cursor: pointer;

    .opaque-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background-color: rgba(255,255,255,0.4);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.active{
      &:after {
        position: absolute;
        font-family: FontAwesome;
        content: "\f077";
        bottom: -20px;
        text-align: center;
        width: 100%;
      }
      .opaque-bg {
        display: none;
      }
    }

    .color {
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      font-size: 12px;
      @include font-roboto;
    }

    .title {
      position: absolute;
      width: calc(100% - 20px);
      bottom: 8px;
      left: 10px;
      color: white;
      font-size: 12px;
      @include font-roboto;
    }

  }//solution

}