.view-options {

  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;

  .icons-wrapper {
    .fa {
      padding: 10px 10px 0 0;
      color: #bbb;
      cursor: pointer;

      &.active {
        color: #666;
      }
    }
  }

}//view-options